In [1]:
#This is to import the rankings of the NBA Teams into a dataframe

In [2]:
!conda install 'lxml' -y
import pandas as pd
import numpy as np

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

In [36]:
#We want to put the csv file into one large file

mega_dataframe = pd.read_csv('data_NBA/nba standings/1999.csv')
mega_dataframe['Year'] = 1999


counter = 2000

while counter < 2019:
    r = 'data_NBA/nba standings/{}.csv'.format(str(counter))
    print(r)
    rotating_df = pd.read_csv(r)
    rotating_df['Year'] = counter
    
    mega_dataframe = pd.concat([mega_dataframe, rotating_df], sort=False)
    counter = counter + 1


dataframe1

data_NBA/nba standings/2000.csv
data_NBA/nba standings/2001.csv
data_NBA/nba standings/2002.csv
data_NBA/nba standings/2003.csv
data_NBA/nba standings/2004.csv
data_NBA/nba standings/2005.csv
data_NBA/nba standings/2006.csv
data_NBA/nba standings/2007.csv
data_NBA/nba standings/2008.csv
data_NBA/nba standings/2009.csv
data_NBA/nba standings/2010.csv
data_NBA/nba standings/2011.csv
data_NBA/nba standings/2012.csv
data_NBA/nba standings/2013.csv
data_NBA/nba standings/2014.csv
data_NBA/nba standings/2015.csv
data_NBA/nba standings/2016.csv
data_NBA/nba standings/2017.csv
data_NBA/nba standings/2018.csv

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Place,Place.1,Conference,Conference.1,Division,Division.1,Division.2,...,All-Star.1,Margin,Margin.1,Month,Month.1,Month.2,Month.3,Month.4,Month.5,Month.6
0,Rk,Team,Overall,Home,Road,E,W,A,C,SE,...,Post,=3,=10,Oct,Nov,Dec,Jan,Feb,Mar,Apr
1,1,Milwaukee Bucks,60-22,33-8,27-14,40-12,20-10,13-5,14-2,13-5,...,17-8,5-6,45-5,7-0,8-6,10-4,12-3,10-1,10-6,3-2
2,2,Toronto Raptors,58-24,32-9,26-15,36-16,22-8,12-4,10-8,14-4,...,15-8,11-7,33-9,7-1,12-3,8-7,10-5,8-1,9-6,4-1
3,3,Golden State Warriors,57-25,30-11,27-14,22-8,35-17,6-4,8-2,8-2,...,16-9,7-7,34-10,8-1,7-7,10-5,11-2,7-4,9-5,5-1
4,4,Denver Nuggets,54-28,34-7,20-21,20-10,34-18,7-3,6-4,7-3,...,15-10,13-3,23-11,6-1,9-6,8-4,12-4,7-4,9-6,3-3
5,5,Houston Rockets,53-29,31-10,22-19,21-9,32-20,8-2,6-4,7-3,...,20-5,5-7,29-12,1-5,9-6,11-4,8-6,8-4,12-3,4-1
6,6,Portland Trail Blazers,53-29,32-9,21-20,24-6,29-23,9-1,8-2,7-3,...,19-6,4-6,29-8,5-2,8-7,8-7,11-4,6-3,10-5,5-1
7,7,Philadelphia 76ers,51-31,31-10,20-21,31-21,20-10,8-8,12-6,11-7,...,14-10,10-8,22-16,4-4,12-4,7-6,11-4,6-4,9-5,2-4
8,8,Utah Jazz,50-32,29-12,21-20,20-10,30-22,6-4,7-3,7-3,...,18-7,0-7,34-12,4-3,7-9,7-7,11-4,6-3,11-4,4-2
9,9,Boston Celtics,49-33,28-13,21-20,35-17,14-16,10-6,13-5,12-6,...,12-12,5-6,24-12,5-2,7-8,9-5,11-4,5-6,8-7,4-1
10,10,Oklahoma City Thunder,49-33,27-14,22-19,21-9,28-24,6-4,8-2,7-3,...,12-13,6-7,23-12,2-4,12-3,9-6,9-5,6-5,6-10,5-0
11,11,Indiana Pacers,48-34,29-12,19-22,33-19,15-15,9-9,11-5,13-5,...,10-14,6-6,23-16,5-3,8-6,12-3,7-7,9-3,4-10,3-2
12,12,Los Angeles Clippers,48-34,26-15,22-19,20-10,28-24,6-4,7-3,7-3,...,16-7,6-2,23-18,4-3,11-3,6-9,7-9,6-5,13-2,1-3
13,13,San Antonio Spurs,48-34,32-9,16-25,18-12,30-22,6-4,7-3,5-5,...,15-8,7-4,25-16,5-2,5-10,11-5,10-5,3-7,10-4,4-1
14,14,Brooklyn Nets,42-40,23-18,19-22,29-23,13-17,8-8,10-8,11-7,...,12-11,12-8,16-22,3-5,5-10,9-6,11-4,4-6,7-7,3-2
15,15,Orlando Magic,42-40,25-16,17-24,30-22,12-18,11-7,9-9,10-6,...,15-8,5-6,21-21,2-5,9-7,5-8,5-11,8-3,9-5,4-1
16,16,Detroit Pistons,41-41,26-15,15-26,27-25,14-16,10-8,8-8,9-9,...,15-11,6-9,16-21,4-3,8-4,4-11,6-10,7-3,10-6,2-4
17,17,Charlotte Hornets,39-43,25-16,14-27,29-23,10-20,8-10,11-7,10-6,...,12-13,6-10,21-20,4-4,7-7,7-7,6-8,4-7,7-8,4-2
18,18,Miami Heat,39-43,19-22,20-21,23-29,16-14,7-11,9-9,7-9,...,13-13,6-9,16-20,3-4,5-9,9-5,7-7,3-9,11-4,1-5
19,19,Sacramento Kings,39-43,24-17,15-26,18-12,21-31,3-7,7-3,8-2,...,9-16,6-7,16-18,5-3,5-8,9-6,7-8,5-5,7-9,1-4
20,20,Los Angeles Lakers,37-45,22-19,15-26,12-18,25-27,1-9,5-5,6-4,...,9-16,5-4,16-25,3-5,10-4,8-7,6-9,3-6,5-11,2-3
21,21,Minnesota Timberwolves,36-46,25-16,11-30,14-16,22-30,4-6,5-5,5-5,...,9-16,8-5,19-22,4-4,7-7,6-9,8-6,4-7,5-9,2-4
22,22,Dallas Mavericks,33-49,24-17,9-32,15-15,18-34,4-6,6-4,5-5,...,7-18,7-7,12-22,2-6,8-4,7-9,6-9,4-6,3-12,3-3
23,23,Memphis Grizzlies,33-49,21-20,12-29,9-21,24-28,3-7,3-7,3-7,...,10-13,6-9,14-19,4-2,9-6,5-10,2-14,4-7,7-7,2-3
24,24,New Orleans Pelicans,33-49,19-22,14-27,10-20,23-29,3-7,5-5,2-8,...,7-16,4-6,15-20,4-3,7-9,6-9,6-8,4-7,5-10,1-3
25,25,Washington Wizards,32-50,22-19,10-31,19-33,13-17,6-12,6-12,7-9,...,8-16,5-6,14-23,1-6,7-8,6-9,8-6,3-7,7-10,0-4
26,26,Atlanta Hawks,29-53,17-24,12-29,16-36,13-17,4-14,6-12,6-10,...,10-14,9-6,7-31,2-5,3-13,6-7,5-9,5-7,7-8,1-4
27,27,Chicago Bulls,22-60,9-32,13-28,16-36,6-24,4-14,3-13,9-9,...,8-16,8-8,9-31,2-6,3-12,5-9,2-13,5-5,4-11,1-4
28,28,Cleveland Cavaliers,19-63,13-28,6-35,15-37,4-26,6-12,4-12,5-13,...,7-17,5-4,6-43,1-6,3-11,4-12,3-12,4-6,4-11,0-5
29,29,Phoenix Suns,19-63,12-29,7-34,8-22,11-41,3-7,3-7,2-8,...,8-15,5-5,5-40,1-6,3-12,5-11,2-13,1-8,5-10,2-3
30,30,New York Knicks,17-65,9-32,8-33,11-41,6-24,2-14,3-15,6-12,...,6-18,4-7,6-41,2-6,5-10,2-12,1-12,3-9,1-13,3-3

In [44]:
import requests
from bs4 import BeautifulSoup


#2. use requests to get the URL
#3. Extract the text from the page
starting = 1990
team_salaries = []
index = 0
while starting < 2019:
    request = "https://hoopshype.com/salaries/{}-{}/".format(str(starting), str(starting+1))
    r = requests.get(request)
    #print(request)
    #4. Use BeautifulSoup to read and parse the data, as html or lxml
    #root = BeautifulSoup( r.content, 'html.parser' )
    root = BeautifulSoup(r.content, 'html.parser')


    #5. Use prettify to view the content and find the appropriate table
    root.prettify()


    #6. Use find() to save the aforementioned table as a variable
    solar_table = root.find('table')            	# Find a the tables.


    #7. Use pandas to read the HTML file
    list_df = pd.read_html(str(solar_table) )
    #print(list_df[0])
    
    
    if starting == 1990:
        team_salaries = list_df[0]
        
    #8 Set reasonable names for the table columns. Also adds the year of the dataset. 
        team_salaries.columns = ['Rank', 'NBA Team', 'Total Salary', 'Total Salary (adj.)']
        yr = []
        for i in range(len(team_salaries.index)):
            yr.append(starting)
        team_salaries['Year'] = yr
        #print('first option')
    else: 
        #print('bingo')
        team_salaries2 = list_df[0]

    #8 Set reasonable names for the table columns. Also adds the year of the dataset. 
        team_salaries2.columns = ['Rank', 'NBA Team', 'Total Salary', 'Total Salary (adj.)']
        yr = []
        for i in range(len(team_salaries2.index)):
            yr.append(starting)
        team_salaries2['Year'] = yr
        #print(team_salaries2.head(10))
        
        team_salaries = pd.concat([team_salaries, team_salaries2])
        #print(team_salaries.head(50))
        #print('next')    
    #print(team_salaries.head(50))
    starting = starting + 1

#We now have our working dataframe that we will use for the NBA salaries. It is tidied up now, because the year has been merged into a separate variable
#and the data now grows vertically instead of horizontally.

print(team_salaries)


team_salaries['FranchID'] = team_salaries['NBA Team'].map({ 
    'Cleveland' : 'CLE', 
    'New York' : 'NYK',
    'Detroit' : 'DET', 
    'LA Lakers' : 'LAL', 
    'Atlanta' : 'ATL',
    'Dallas' : 'DAL', 
    'Philadelphia' : 'PHI', 
    'Milwaukee' : 'MIL', 
    'Phoenix' : 'PHO', 
    'Brooklyn' : 'NJN',
    'Boston' : 'BOS', 
    'Portland' : 'POR', 
    'Golden State' : 'GSW', 
    'San Antonio' : 'SAS', 
    'Indiana' : 'IND',
    'Utah' : 'UTA', 
    'Oklahoma City' : 'SEA', 
    'Houston' : 'HOU', 
    'Charlotte' : 'CHA', 
    'Denver' : 'DEN',
    'LA Clippers' : 'LAC', 
    'Chicago' : 'CHI', 
    'Washington' : 'WAS', 
    'Sacramento' : 'SAC', 
    'Miami' : 'MIA',
    'Minnesota' : 'MIN', 
    'Orlando' : 'ORL', 
    'Memphis' : 'VAN', 
    'Toronto' : 'TOT', 
    'New Orleans' : 'NOA'
})



#Now we have the entire table in different sections.

    Rank    NBA Team  Total Salary Total Salary (adj.)  Year
0    1.0   Cleveland   $14,403,000         $28,400,511  1990
1    2.0    New York   $13,290,000         $26,205,847  1990
2    3.0     Detroit   $12,910,000         $25,456,546  1990
3    4.0   LA Lakers   $12,120,000         $23,898,788  1990
4    5.0     Atlanta   $11,761,000         $23,190,893  1990
..   ...         ...           ...                 ...   ...
25  26.0     Phoenix  $108,692,835        $110,484,604  2018
26  27.0   LA Lakers  $107,225,482        $108,993,069  2018
27  28.0  Sacramento  $101,466,920        $103,139,575  2018
28  29.0      Dallas   $86,958,881         $88,392,374  2018
29  30.0     Atlanta   $79,180,081         $80,485,339  2018

[846 rows x 5 columns]

In [45]:
team_salaries

    Rank    NBA Team  Total Salary Total Salary (adj.)  Year FranchID
0    1.0   Cleveland   $14,403,000         $28,400,511  1990      CLE
1    2.0    New York   $13,290,000         $26,205,847  1990      NYK
2    3.0     Detroit   $12,910,000         $25,456,546  1990      DET
3    4.0   LA Lakers   $12,120,000         $23,898,788  1990      LAL
4    5.0     Atlanta   $11,761,000         $23,190,893  1990      ATL
..   ...         ...           ...                 ...   ...      ...
25  26.0     Phoenix  $108,692,835        $110,484,604  2018      PHO
26  27.0   LA Lakers  $107,225,482        $108,993,069  2018      LAL
27  28.0  Sacramento  $101,466,920        $103,139,575  2018      SAC
28  29.0      Dallas   $86,958,881         $88,392,374  2018      DAL
29  30.0     Atlanta   $79,180,081         $80,485,339  2018      ATL

[846 rows x 6 columns]